footer {
    width: 100%;
    min-width: 100%;
    color: #fff;
    font-size: 14px;
}

footer a, footer a:hover {
    color: #fff;
}

.footer-bg {
    background: url('../images/common/footerbg.jpg') no-repeat center; 
    background-size: cover;
    background-attachment: scroll;
}

.footer-container {
    margin-top: 50px;
    padding-bottom: 20px;
}

.footer-row {
    text-align: center;
}

.footer-right {
    text-align: center;
    margin-top: 30px;
}

.footer-left-row:nth-of-type(2) {
    margin-top: 10px;
}

.footer-left-column {
    margin-top: 10px;
}

.credits {
    font-size: 8px;
}

@media (min-width : 650px) {
    footer {
        font-size: 16px;
    }
}

@media  (min-width: 768px) {
    footer {
        font-size: 16px;
    }
    
    .footer-right {
        text-align: right;
        display: inline-block;
        margin-top: -115px;
    }
    
    .footer-icon-col {
        text-align: right;
    }
    
    .footer-left-column {
        text-align: left;
        margin-top: 12px;
    }
    
    .footer-social {
        text-align: right;
    }
    
    .footer-left-text {
        margin-top: 5px;
    }
}

@media (min-width: 992px) {
    footer .container {
        min-width: 0px;
    }
    
    .footer-right {
        margin-top: -115px;
        right: 35px;
    }
}

