/* Index */
.item {
    height: 100%;
    width: 100%;
    
}

.item.first {
    background-image: url(../images/index/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.item.second {
    background-image: url(../images/index/slider/chopsboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.item.third {
    background-image: url(../images/index/slider/Chopscutboardreal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.item.fourth {
    background-image: url(../images/index/slider/brisketisbetter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.item.first .logo-row {
    text-align: center;
}

.item.first .logo-row img {
    max-width: 250px;
    margin-top: 40px;
}

p.index-tagline {
    font-size: 32px;
    color: #fff;
    margin-top: 20%;
}

.arrow-down {
    text-align: center;
    margin-top: 40px;
}

.arrow-down img {
    max-height: 40px;
}

.carousel-control {
    padding-top: 60%;
}

.index-bottom {
    background: #ffba1b;
}

.index-bags img {
    width: 150%;
    margin-left: -6%;
    margin-top: 20px;
}

.index-desc {
    text-align: center;
}

.index-desc h2 {
    text-transform: uppercase;
    font-size: 28px;
    color: #000;
}

.index-desc p {
    line-height: 1.6em;
    margin-top: 20px;
    font-size: 16px;
    color: #000;
}

.index-guarantee {
    background: #031b2c;
    margin-top: 5px;
    line-height: 1.6em;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
}

.index-guarantee p {
    padding: 15px 0;
}

@media (min-width: 480px) {
    p.index-tagline {
        font-size: 36px;
        color: #fff;
        margin-top: 10%;
    }
    
    .carousel-control {
        padding-top: 50%;
    }
}

@media (min-width: 620px) {
    .item.first .logo-row img {
        max-width: 300px;
        margin-top: 40px;
    }

     p.index-tagline {
        font-size: 42px;
        color: #fff;
        margin-top: 5%;
    }
    
    .carousel-control {
        padding-top: 35%;
    }
    
    .index-bags img {
        width: 140%;
        margin-left: -5%;
        margin-top: 20px;
    }
    
    .index-desc h2 {
        font-size: 32px;
    }
    
    .index-desc p {
        max-width: 90%;
        margin: 0 auto;
    }
    
    .index-guarantee {
        margin-top: 30px;
    }
}

@media(min-width: 768px) {
    .index-bags img {
        margin-left: -25%;
    }
    
    .index-desc {
        text-align: left;
        margin-top: 30px;
    }
    
    .index-desc h2 {
        font-size: 21px;
    }
    
    .index-desc p {
        max-width: 95%;
        margin: 0;
        font-size: 14px;
    }
    
    .index-guarantee {
        text-align: left;
        margin-top: -10px;
    }
    
    .index-guarantee p {
        padding: 15px 0;
        padding-left: 10px;
        font-size: 14px;
    }
    
    .index-rockies {
        text-align: center;
        margin-top: 0px;
    }
    
    .index-rockies img {
        max-width: 240px;
    }
}

@media (min-width: 860px) {
    p.index-tagline {
        font-size: 46px;
        color: #fff;
        margin-top: 3%;
    }
    
    .carousel-control {
        padding-top: 25%;
    }
    
    .index-bags img {
        margin-left: -25%;
    }
    
    .index-desc {
        text-align: left;
        margin-top: 30px;
    }
    
    .index-desc h2 {
        font-size: 26px;
    }
    
    .index-desc p {
        max-width: 95%;
        margin: 0;
        font-size: 16px;
    }
    
    .index-guarantee {
        text-align: left;
        margin-top: -10px;
    }
    
    .index-guarantee p {
        padding: 15px 0;
        padding-left: 10px;
        font-size: 16px;
    }
    
    .index-rockies {
        text-align: center;
        margin-top: -20px;
    }
    
    .index-rockies img {
        max-width: 270px;
    }
}

@media (min-width: 992px) {
    .item.first .logo-row {
        text-align: center;
    }
    
    .item.first .logo-row img {
        max-width: 350px;
        margin-top: 60px;
        margin-left: -30px;
        display: inline-block;
    }
    
    p.index-tagline {
        display: inline-table;
        text-align: left;
        font-size: 52px;
        color: #fff;
        margin-top: 120px;
        margin-left: 30px;
    }
    
    .carousel-control {
        padding-top: 25%;
    }
    
    .arrow-down {
        margin-top: 15%;
    }
    
    .arrow-down img {
        max-height: 40px;
    }
    
    .index-bags img {
        margin-left: -25%;
    }
    
    .index-desc {
        text-align: left;
        margin-top: 30px;
    }
    
    .index-desc h2 {
        font-size: 32px;
    }
    
    .index-desc p {
        max-width: 95%;
        margin: 0;
        font-size: 17px;
    }
    
    .index-guarantee {
        text-align: left;
        margin-top: -10px;
        padding-bottom: 0px;
    }
    
    .index-guarantee p {
        padding: 20px 0;
        padding-bottom: 10px;
        padding-left: 10px;
        font-size: 17px;
    }
    
    .index-rockies {
        text-align: center;
        margin-top: -60px;
    }
    
    .index-rockies img {
        max-width: 300px;
    }
}

@media (min-width: 1100px) {
    .index-desc {
        margin-top: 50px;    
    }
    
    .index-desc p {
        font-size: 19px;
    }
    
    .index-guarantee {
        margin-bottom: 60px;
    }
    
    .index-guarantee p {
        font-size: 19px;
    }
}

@media (min-width: 1200px) {
    .item.first .logo-row {
        text-align: center;
    }
    
    .item.first .logo-row img {
        max-width: 420px;
        margin-top: 60px;
        margin-left: -40px;
        display: inline-block;
    }
    
    p.index-tagline {
        display: inline-table;
        text-align: left;
        font-size: 62px;
        color: #fff;
        margin-top: 120px;
        margin-left: 40px;
    }
    
    .carousel-control {
        padding-top: 25%;
    }
    
    .arrow-down {
        margin-top: 120px;
    }
    
    .arrow-down img {
        max-height: 40px;
    }
    
    .carousel-control {
        padding-top: 20%;
    }
    
    .index-bags img {
        width: 135%;
    }
    
    .index-desc {
        margin-top: 40px;
    }
    
    .index-desc h2 {
        font-size: 36px;
    }
    
    .index-desc p {
        font-size: 20px;
        line-height: 1.7em;
    }
    
    .index-guarantee {
        margin-bottom: 60px;
    }
    
    .index-guarantee p {
        font-size: 20px;
        padding: 30px 0;
        padding-bottom: 25px;
        margin-left: 25px;
    }
    
    .index-rockies img {
        max-width: 400px;
    }
}

@media (min-width: 1339px) {
    .item.first .logo-row {
        text-align: center;
    }
    
    .item.first .logo-row img {
        max-width: 420px;
        margin-top: 60px;
        margin-left: -75px;
        display: inline-block;
    }
    
    p.index-tagline {
        display: inline-table;
        text-align: left;
        font-size: 62px;
        color: #fff;
        margin-top: 120px;
        margin-left: 75px;
    }

    .arrow-down {
        margin-top: 120px;
    }
    
    .arrow-down img {
        max-height: 40px;
    }
    
    .carousel-control {
        padding-top: 20%;
    }
    
    .index-bags img {
        width: 120%;
        margin-left: -10%;
    }
    
    .index-desc p {
        max-width: 90%;
        line-height: 2em;
    }
    
    .index-guarantee p {
        line-height: 1.6em;
    }
}